.theme_secondery{
    background: white !important;
    color: #777777 !important;
}

.nav-link{
    color: #777777 !important;
    font-size: 18px !important;
    font-family: popppins !important;
    font-weight: 400 !important;
    padding: 0 30px !important;
}

.slider_area{
    height: 700px !important;
    margin-bottom: 100px !important;

}

.bg-transparent{
    height: 700px !important;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.281) !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.carousel-caption {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0rem;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
}

.carousel-item img{
    height: 700px;
}



/* .course_card{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .card_img{
    display: flex;
    align-items: center;
    height: 100%;
   
} */
element.style {
    display: flex;
    align-items: center;
    height: 100%;
    object-fit: cover;
    
}
.card_img{
    display: flex;
    align-items: center;
    height: 100%;
    object-fit: cover;
   

}
.big_card{
   
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.big_card img{
    height: 606px;
    width: 40%;
    object-fit: cover;
   
}
.explore_institude{
    display:flex;
    width:100%;
}
.explore{
    background-color: rgba(240, 248, 255, 0.564);
    width:60%;
    object-fit: cover;
  
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   


}

.explore_part{
   
   
    height: 500px;
    
    margin: 0 auto;
    text-align: center;
   
   
}

.vewies{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}
.vewies_p{
    display: flex;
    flex-direction: column;
}
/* 
.successful_student{
    width: 30%;
   
} */
.successful_student_p{
    width: 35% !important;
}

/* slider part started */
.slide_part{
    border: 2px solid blue;
   
    /* margin: 0 auto; */
}
.slider_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.slider_heading p{
    width: 50% !important;
    text-align: center;
    display: flex;
    gap: 30px;
    font-size: 20px;
}
.star{
    display: flex;
}
.fa-star{
    font-size: 20px;
    color: gold;
}
.fa-star-o{
    font-size: 20px;
    color: gold;
}


.slide_img{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex;
   
  
}

.slide_img img{
    height: 300px;
    width:300px;
    

}

/* .slick-slide img {
    display: flex;
    gap: 20px;
} */

.slid{
    display: flex !important;
    /* gap:20px !important; */
   
   
}

.slick-prev::before,
.slick-next::before {
    color:rgb(0, 0, 255);
    font-size: 2.5rem;
}

.slick-prev,
.slick-next {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
}

.slick-list {
    width: 95%;
    margin: 0 auto;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}


.freeque_ntly{
    margin-top: 100px !important;
}
.frequently_p{
    width: 80%;
    text-align: center;
    margin-top:20px ;
}

.trusted_by{
    margin-top: 100px;
}
.trusted_img{
   
    display: flex;
    gap:20px !important;
    justify-content: center;
    align-items: center;
  
}


.trusted_img img{
    height: 25px;
    width: 150px;
}
.footer_bg{
    background: black;
    height: 400px;
}

.footer_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
   
    color: white;
}

.footer_items p{
    font-size: 20px;
    text-align: center;
}
.footer_icon{
    font-size: 30px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
   
}




@media only screen and (max-width:600px){
    .card_img {
        display: flex;
        align-items: center;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    .explore_institude {
        display: flex;
        flex-direction: column;
    }

    .explore {
        background-color: rgba(240, 248, 255, 0.564);
        width: 402px;
        height: 606px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .big_card img {
        height: 606px;
        width: 100%;
        object-fit: cover;
    }
    .explore {
        background-color: rgba(240, 248, 255, 0.564);
        width: 100%;
        height: 606px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .successful_student_p {
        width: 100% !important;
    }

    .slider_heading p {
        width: 100% !important;
        text-align: center;
        display: flex;
        gap: 30px;
    }  
    .frequently_p {
        width: 400px;
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }   
    element.style {
        width: 70%;
    } 
    .w-50 {
        width: 80%;
    }             
      
}